body {
  font-family: "Playfair Display", serif !important;
  font-size: 16px;
  height: 100vh;
}

/* common colors */
:root {
  --primary-color: #cbcbec;
  --background-color: #ccccd3b5;
}
/* adding ' !important ' here to override the bootstrap stylings */
.btn-bd-primary {
  background-color: #cbcbec !important;
  color: black !important;
  border-color: black !important;
}

.btn-bd-primary:hover {
  background-color: #e7c8ef4d !important;
}

.storage-button {
  color: black !important;
}

.title-section {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 20px;
  border-bottom: 4px solid black;
}

.search-column {
  background-color: var(--background-color);
  border-right: 4px solid black;
  padding: 10px 25px !important;
}

.weather-column {
  background-color: var(--background-color);
  padding: 10px 25px !important;
}

.search-input {
  border: 1px solid black !important;
}

.city-name,
.future-title {
  font-weight: bolder;
}

.card {
  border-color: black !important;
}

.custom-card {
  background-color: var(--primary-color) !important;
}

.name-icon-group {
  display: flex;
  align-items: center;
}
